* {
  font-family: 'Roboto', sans-serif;
}

header,
footer {
  background-color: #5f738b;
  color: white;
}

header {
  height: 3rem;
}

footer {
  height: 2rem;
}

button {
  border: none;
  background-color: inherit;
}

button:hover {
  cursor: pointer;
}

.black {
  color: black;
}

.dark-blue {
  color: #5f738b;
}

.lighter-gray {
  color: #f2f2f2;
}

.light-gray {
  color: #a5a4a4;
}

.dark-gray {
  color: #5f6368;
}

.pink {
  color: #ecd2d3;
}

.complete-container {
  width: 100%;
  height: 100vh;
  margin: 0;
  display: flex;
  flex-direction: column;
}

.calendar-container {
  width: 100%;
  margin: 0;
}

.checklist-container {
  width: 100%;
  margin: 0;
}

.not-clickable:hover {
  cursor: unset;
}

input::placeholder {
  color: #f2f2f2;
}

.header-month-year {
  font-weight: 400;
  font-size: 24px;
  margin: 0;
}

.left-arrow-button,
.right-arrow-button {
  width: 39px;
  height: 39px;
}

.left-arrow-button {
  background-image: url(../images/triangle-left.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.left-arrow-button:hover {
  background-image: url(../images/triangle-left-solid.svg);
}

.right-arrow-button {
  background-image: url(../images/triangle-right.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.right-arrow-button:hover {
  background-image: url(../images/triangle-right-solid.svg);
}

.day-of-week {
  font-size: 14px;
  font-weight: 400;
  margin: 0.5rem 0;
}

.square {
  box-sizing: content-box;
  height: 3rem;
}

.date {
  height: 2.5rem;
  width: 2.5rem;
  font-size: 24px;
  border-radius: 50%;
  padding: 0;
}

.date.black:hover {
  border: 3px solid #7e8da0;
}

.date.travel-1 {
  color: #7299fd;
}

.date.travel-2 {
  color: #4f7673;
}

.date.travel-3 {
  color: #d64c4c;
}

.date.travel-4 {
  color: #5f6368;
}

.date.current-day {
  background-color: #5f738b;
  color: white;
}

button.date.black.selected {
  border: 3px solid #49596d;
}

.calendar-date-weather-heading {
  display: none;
  align-items: center;
  padding: 0 1rem;
}

.calendar-date-text-heading {
  display: none;
  align-items: center;
}

.calendar-date-weather-icon {
  width: 26px;
}

.calendar-date-weather-temp {
  color: #5f738b;
  font-size: 14px;
  font-weight: 400;
  margin: 0.25rem;
}

.calendar-date-destination,
.calendar-date-holiday {
  font-size: 12px;
  margin: 0;
}

.calendar-date-destination.travel-1 {
  color: #7299fd;
}

.calendar-date-destination.travel-2 {
  color: #4f7673;
}

.calendar-date-destination.travel-3 {
  color: #d64c4c;
}

.calendar-date-destination.travel-4 {
  color: #5f6368;
}

.calendar-date-events-div {
  display: none;
  padding: 0 0.5rem;
}

.calendar-date-events-div > ul {
  margin: 0;
  padding: 0;
}

.calendar-date-event {
  display: flex;
  align-items: center;
}

.calendar-date-event-icon {
  width: 16px;
  margin: 0 0.25rem;
}

.calendar-date-event-text {
  color: #5f6368;
  font-size: 12px;
  margin: 0;
}

.travel-modal-container,
.event-modal-container {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  margin: 0;
  background-color: rgba(41, 41, 41, 0.75);
  z-index: 2;
  align-items: center;
  overflow: hidden;
}

.travel-modal-form,
.event-modal-form {
  background-color: white;
  border-radius: 30px;
  width: 350px;
  height: 500px;
}

.event-modal-form {
  position: relative;
}

.modal-header {
  border-bottom: 1px solid #a5a4a4;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  height: 3rem;
}

.travel-button,
.event-button {
  font-size: 18px;
  width: 75px;
  padding: 0;
}

.travel-button.cancel,
.event-button.cancel {
  text-align: left;
}

.event-button.save-plus {
  text-align: center;
}

.travel-button.save,
.event-button.save {
  text-align: right;
}

.travel-button:hover,
.event-button:hover {
  text-decoration: underline;
}

.travel-button.cancel.lighter-gray:hover {
  text-decoration: none;
  cursor: default;
}

.travel-modal-body {
  padding: 3rem 1.5rem;
}

.modal-heading {
  font-size: 24px;
  font-weight: 500;
  margin: 0;
}

.modal-prompt {
  display: flex;
  align-items: center;
  margin: 0.5rem 0;
}

.modal-icon {
  width: 39px;
}

.modal-input {
  border: none;
  border-bottom: 1px solid black;
  font-size: 18px;
  margin: 0 0.5rem;
  width: 70%;
  height: 30px;
}

.event-modal-form button.modal-selected {
  border: 3px solid #1a73e8;
}

.event-modal-buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1rem 0.75rem;
}

button.event-modal-view {
  color: white;
  border: 3px solid white;
  border-radius: 5px;
  font-size: 18px;
  padding: 0.25rem 0.35rem;
  margin: 0 0.1rem;
}

button.event-modal-view:hover {
  border: 3px solid #75a7e9;
}

button.event {
  background-color: #5f738b;
}

button.birthday {
  background-color: #d64c4c;
}

button.hangout {
  background-color: #c6e6fb;
}

button.meeting {
  background-color: #9dacb9;
}

.event-modal-body {
  padding: 0 1rem;
}

.event-modal-time-input {
  display: flex;
  align-items: center;
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 600;
  margin: 0 0.5rem;
  width: 100%;
  height: 30px;
}

.event-modal-time {
  background-color: #f2f2f2;
  color: #7c7c7c;
  font-size: 18px;
  font-weight: 500;
  border-radius: 5px;
  border: none;
  margin: 0 0.25rem;
  padding: 0.25rem;
}

button.event-modal-time {
  border: 3px solid white;
  padding: 0.25rem 0.5rem;
}

button.event-modal-time:hover {
  border: 3px solid #75a7e9;
}

button.event-modal-time.modal-selected {
  border: 3px solid #75a7e9;
  background-color: #75a7e9;
  color: white;
}

.event-modal-delete-div {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin: 1rem 0;
}

.event-modal-delete {
  width: 32px;
  height: 32px;
  background-image: url(../images/trash.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.event-modal-delete:hover {
  background-image: url(../images/trash-active.svg);
}

.day-banner {
  background-color: #9dacb9;
  color: white;
  height: 3.5rem;
  padding: 0 1.5rem;
  overflow: hidden;
}

.date-info {
  height: 3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: baseline;
}

.date-info-date {
  font-weight: 500;
  font-size: 18px;
  margin: 0;
}

.date-info-holiday,
.date-info-travel {
  font-weight: 400;
  font-size: 10px;
  margin: 0;
}

.date-weather {
  display: flex;
  align-items: center;
  height: 3rem;
}

.date-weather-icon {
  width: 36px;
}

.date-weather-main-temp {
  font-size: 24px;
  font-weight: 400;
  margin: 0 0.5rem;
}

.date-weather-side-temp {
  font-size: 12px;
}

.checklist-height {
  height: calc(100% - 3.5rem);
}

.checklist-div {
  background-color: #fafcff;
  overflow: hidden;
}

.checklist-div > ul {
  padding: 0 1rem;
}

.event-text-div {
  display: flex;
  align-items: center;
}

.event-radio-button {
  width: 20px;
  height: 20px;
  border: 1px solid #e5e3e6;
  border-radius: 50%;
  padding: 0 9px;
}

.event-radio-button:hover {
  background-color: #cee7d9;
}

.event-radio-button.checked {
  border: none;
  padding: 0;
}

.check {
  width: 20px;
  height: auto;
}

.event-icon {
  width: 14px;
  margin: 0 0.5rem;
}

.event-text {
  font-size: 14px;
}

.event-time-edit-div {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.event-time {
  color: #888;
  font-size: 14px;
}

.event-edit {
  width: 32px;
  height: 32px;
  border-radius: 4px;
  padding: 0;
}

.event-edit:hover {
  background-color: #e5e3e6;
}

.add-buttons {
  display: flex;
  justify-content: center;
}

.add-event,
.add-travel {
  border-radius: 50%;
  height: 25px;
  width: 25px;
  margin: 1rem;
  padding: 0;
}

.add-event {
  background-color: #afc5b9;
  color: white;
  font-size: 24px;
}

.add-event:hover {
  background-color: #9bbdaa;
}

.add-travel {
  background-color: #c8b2d2;
}

.add-travel:hover {
  background-color: #c5a0d6;
}

@media (max-height: 500px) {
  .travel-modal-form,
  .event-modal-form {
    height: 100vh;
    overflow-y: scroll;
  }
}

@media (min-width: 750px) and (min-height: 600px) {
  header {
    height: 4rem;
  }

  footer {
    height: 2.5rem;
  }

  .complete-container {
    flex-direction: row;
  }

  .calendar-container {
    width: 100%;
    height: 100vh;
    flex-shrink: 2;
  }

  .day-of-week {
    font-size: 24px;
  }

  .square {
    height: 13.45vh;
  }

  .travel-modal-container,
  .event-modal-container {
    position: absolute;
    width: 375px;
  }

  .checklist-container {
    width: 375px;
  }

  .day-banner {
    width: 375px;
  }

  .checklist-div {
    width: 375px;
  }
}

@media (min-width: 1300px) and (min-height: 800px) {
  .square {
    border: 1px solid #c8c8c8;
  }

  .square.travel-1 {
    border: 1px solid #7299fd;
    box-shadow: inset 0 0 1px 1px #7299fd;
  }

  .square.travel-2 {
    border: 1px solid #4f7673;
    box-shadow: inset 0 0 1px 1px #4f7673;
  }

  .square.travel-3 {
    border: 1px solid #d64c4c;
    box-shadow: inset 0 0 1px 1px #d64c4c;
  }

  .square.travel-4 {
    border: 1px solid #5f6368;
    box-shadow: inset 0 0 1px 1px #5f6368;
  }

  .calendar-date-weather-heading {
    display: flex;
  }

  .calendar-date-text-heading {
    display: flex;
  }

  .calendar-date-events-div {
    display: unset;
  }
}
